<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" 
          id="error_explanation">
    <h4 class="alert-heading">
      <i class="bi pe-2 bi-exclamation-triangle"></i>The following errors prevented the <%= resource.class.model_name.human.downcase %> from being submitted.
    </h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" 
            aria-label="Close"></button>
  </div>
<% end %>
