<div class="container pt-3">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">     
      <i class="<%= "bi pe-2 bi-#{name == "notice" ? "info-circle" : "exclamation-triangle" }" %>"></i><%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>