<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" href="#!">NTR-tech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link#{ " active" if request.path == root_path }" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link#{ " active" if request.path == about_path }" %>
            </li>
            <li class="nav-item">
              <%= link_to "Contact", new_contact_form_path, class: "nav-link#{ " active" if request.path == new_contact_form_path }" %>
            </li>
        </ul>
        <% if logged_in? %>
          <ul class="navbar-nav ml-auto ps-4">
            <li class="nav-item">
              <%= button_to 'Logout', logout_path, class: 'btn btn-sm btn-outline-light', method: :delete %>
            </li>        
          </ul>
        <% end %>
    </div>
  </div>
</nav>